<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Muli" rel="stylesheet">

     </head>
<header>
<body>
    <nav>
        <a href="/signin"*ngIf="!isLoggedIn$">SINGIN</a>
        <!--<a href="/signup" *ngIf="!isLoggedIn$">SIGNUP</a>-->
        <a href="/home">HOME</a>
        <a href="/logout" *ngIf="isLoggedIn$">SIGNOUT</a>
        <div class="line"></div>
    </nav>
</body>
</header>






<!--<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/signin">SINGIN</a></li>
        <li><a href="/signup">SIGNUP</a></li>
        <li><a href="/logout">SIGNOUT</a></li>
      </ul>
    </nav>
  </div>
</header>-->
