<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Muli" rel="stylesheet">

     </head>
    <body>
        <header class="header">

            <div class="img">
                <img src="assets/headerimg.jpg" alt="headerimg" class="headerimg">;
            </div>
            <div class="text-box">
                <div class="heading-primary">
                   <span class="heading-primary-main">COURSES</span>
                  <span class="heading-primary-sub">“Tell me and I forget, teach me and I may remember,<br> involve me and I learn.”</span>

                </div>
                <div class= "moreinfo">
                  <button class="button" routerLink="/course">more info</button>
              </div>
            </div>
        </header>

    </body>
</html>
